
/*------------------------ GLOBAL------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fce2ef;
}

html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background: #b61924;
}


a{
    cursor: pointer;
}

h1{
    font-size: 10rem;
    font-weight: 700;
    -webkit-text-stroke-width: 4px;
    letter-spacing: .5rem;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #fce2ef;
    text-align: center;
    margin: 0;
}

h2{
    text-align: center;
    font-size: 4.5rem;
    line-height: 110%;
    font-weight: 600;
    -webkit-text-stroke: 2px;
    letter-spacing: .5rem;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #fce2ef;
    padding-bottom: 5rem;

}

h3{
    font-size: 2.92rem;
    line-height: 110%;
    font-weight: 400;
}

h4{
    font-size: 2.28rem;
    line-height: 110%;
    font-weight: 400;
    margin: 0;
}

h5{
    margin: 0;
    font-size: 1.64rem;
    line-height: 110%;
    font-weight: 400;
}

ul{
    list-style-type: none;
    padding: 0;
}

a{
    text-decoration: none;
}

p{
    line-height: 1.5;
    font-size: 1rem;
    color: black;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 7.5rem;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 7rem;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 6.5rem;
    }
}

@media (max-width: 550px) {
    h1 {
        font-size: 6rem;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 5rem;
    }
}

/*------------------------ NAV------------------------- */
.logo{
    height: 50px;
    padding-top: 5px;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

/* Navbar section */

.nav{
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color: rgba(32, 0, 8, 0.6);
}

.nav div.logo{
    width: 180px;
    height: 10px;
    position: absolute;
}

.nav div.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
    text-transform: uppercase;
}

.nav div.logo a:hover {
    color: #c0c0c0;
}

.nav div.main_list{
    width: 600px;
    height: 65px;
    float: right;
}

.nav div.main_list ul{
    width:100%;
    height: 65px;
    display: flex;
    list-style: none;
}

.nav div.main_list ul li{
    width: 120px;
    height: 65px;
}

.nav div.main_list ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    text-transform: uppercase;
}

.nav div.main_list ul li a:hover{
    color: #c0c0c0;
}

.nav div.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span{
    width: 98%;
    height: 1px;
    display: block;
    background-color: #fff;
    margin-top: 9px;
    margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}

/* Home section */

.home{
    width: 100%;
    height: 100vh;
    background-color: #ddd;
}

/* Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .container{
        margin: 0;
    }
    
}




@media screen and (max-width:768px) {
    
    .container{
        margin: 0;
    }
    
    .nav div.logo{
        margin-left: 15px;
    }
    
    .nav div.main_list{
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
    }
    
    .nav div.show_list{
        height: 200px;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:rgba(32, 0, 8, 0.6);
    }
    
    .nav div.main_list ul li a{
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }
}



/*------------------------ MAIN SECTION------------------------- */

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
}

.main-sentence{
    text-align: center;
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
    font-weight: 400;
}

/*------------------------ PROJECT SECTION------------------------- */

.projets{
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    z-index: 2;
}

.projet{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
}

.application-meteo:hover{
    background-image: url("../images/projets/close-up-of-thermometer-centigrade-2022-11-10-18-23-57-utc-min.jpg");
    background-size: cover;
}

.cake-scrap:hover{
    background-image: url("../images/projets/blueberry-cheese-pie-sweet-dessert-tasty-concept-2022-09-20-01-11-14-utc-min.jpg");
    background-size: cover;
}

.cake-scrap-2:hover{
    background-image: url("../images/projets/piece-of-chocolate-cake-with-nuts-on-green-plate-2021-09-03-13-05-31-utc-min.jpg");
    background-size: cover;
}

.bitcoin:hover{
    background-image: url("../images/projets/stock-market-graph-2022-12-15-20-43-08-utc-min.jpg");
    background-size: cover;
}



.modal {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 80%;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
}


.img-modal{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    
}


.btn {
    border: none;
    font-weight: 600;
    padding: 5px;
    font-size: 1.5rem;
}


.btn-close {
    cursor: pointer;
    display: flex;
    align-self: flex-end;
    background: #eee;
    font-size: 1rem;
    width: 20px;
    height: 20px;
}

.titre-modal{
    color: black;
}

@media (max-width: 1000px) {
    .projets {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 600px) {
    .modal {
        width: 100%;
    }
}

/*------------------------ TECH ------------------------- */

.tech{
    display: grid;
    justify-items:center;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    width: 70%;
    margin: auto;
    padding-bottom: 5rem;
}

.element{
    width: 33.33%;
    padding-bottom: 2rem;
}

.tech-icon{
    font-size: 7.5rem;
    font-weight: 400;
    line-height: 1;
}

.service-title{
    font-weight: 400;
    font-size: 1.68rem;
}

@media (max-width: 800px) {
    .tech {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*------------------------ EXPERIENCE ------------------------- */
.experience{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    padding-bottom: 5rem;
}

.single-xp{
    margin-right: 5%;
    width: 30%;
}

.line{
    border-top: solid .5rem #fce2ef;
    margin-top: 1em;
}

@media (max-width: 900px) {
    .experience {
        flex-direction: column;
        align-items: center;
    }
    .single-xp{
        width: 80%;
    }
}

/*------------------------ FAQ ------------------------- */
.faq{
    padding-bottom: 5rem;
}
.collapsible{
    border-bottom: solid .5rem #fce2ef;
    margin-top: 1em;
    width: 80%;
    margin: auto;
    background-color:rgba(32, 0, 8, 0.6);
}
.collapsible-header{
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
}

.collapsible-body{
    padding: 2rem;
    margin: 0;
    font-weight: 400;
    font-size: 1.68rem;
    background-color:rgba(32, 0, 8, 0.6);
    color: #fce2ef;
    display: none;
}

.single-xp ul li {
    font-size: 1.68rem;
}

/*------------------------ CONTACT ------------------------- */
.contact{
    background: rgba(32, 0, 8, 0.6);
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.name{
    width: 50%;
    text-align: center;
    font-weight: 400;
    font-size: 1.68rem;
    color: #fce2ef;
}

.icon{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.icon-link{
    color: #fce2ef;
    font-size: 7.5rem;
    font-weight: 400;
    line-height: 1;
}


@media (max-width: 900px) {
    .icon{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*------------------------ FOOTER ------------------------- */
footer{
    padding: 1.5rem 0;
}

.text-footer{
    padding-left: 8rem;
    color: #fce2ef;
}

.text-footer a {
    color: #fce2ef;
}

/*------------------------ PARTICLES ------------------------- */
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background-image: url("../images/dylan1.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin-top: 0;
    z-index: -1;
  }
  
  /* ---- stats.js ---- */
  
  /* .count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .js-count-particles{
    font-size: 1.1em;
  }
  
  #stats,
  .count-particles{
    -webkit-user-select: none;
  }
  
  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  
  .count-particles{
    border-radius: 0 0 3px 3px;
  } */